:root {
  --clr-purple: #21092F;
  --clr-purple-gradient: linear-gradient(163.95deg, #6348FE 4.74%, #610595 88.83%);
}

/*--------
Reset
---------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  font-size: 62.5%;
  min-height: 100%;
}

img {
  display: block;
  width: 100%;
}

body {
  font-family: 'Space Grotesk', sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.wrapper {
  display: flex;
}

/*--------
Utility
---------*/
.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.flex-between {
  justify-content: space-between;
}

.flex-center-x {
  justify-content: center;
}

.flex-center-y {
  align-items: center;
}


/*----------
Components
-----------*/
.bg-purple {
  display: flex;
  justify-content: center;
  background-image: url('images/bg-main-desktop.png');
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 30vh;
  flex: 30%;
  position: relative;
  padding: 30px 0;
}

.card-front, .card-back {
  position: absolute;
  color: #ffffff;
  font-size: 1.4rem;
  border-radius: 1rem;

  @media (max-width: 65em) {
    max-width: 300px;
  }
}

.card-front {
  z-index: 1;
  transform: translate(20%, 70%);

  @media (max-width: 65em) {
    transform: translate(7%, 57%);
  }

  &--no {
    font-size: clamp(1.5rem, 1.8vw, 3rem);
    padding-bottom: 1.5rem;

    @media (max-width: 65em) {
      font-size: 1.8rem;
    }
  }

  &--logo {
    width: 54px;
    padding-bottom: 8rem;

    @media (max-width: 65em) {
     padding-bottom: 2.8rem;
    }
  }

  .card-data {
    position: absolute;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    bottom: 3rem;
    padding: 0 3rem;
  }
}

.card-back {
  transform: translate(50%, 180%);

  @media (max-width: 65em) {
    transform: translate(-7%, 0);
  }
}

.card-data {
  position: absolute;
}

.bg-white {
  display: flex;
  justify-content: center;
  background-color: #f2f2f2;
  min-height: 100vh;
  flex: 70%;
  padding: 8rem 2rem;
  align-items: center;

  @media (max-width: 65em) {
    align-items: start;
    padding-top: 10rem;
  }
}

form {
  display: flex;
  flex-direction: column;

  label {
    font-size: 1.2rem;
    margin-bottom: 9px;
    letter-spacing: 2px;
  }

  input {
    width: 38rem;
    height: 4.5rem;
    border: 1px solid #DFDEE0;
    border-radius: 8px;
    background: transparent;
    margin-bottom: 2.6rem;
    font-family: inherit;
    padding-left: 1.6rem;
    font-size: 1.8rem;
    color: var(--clr-purple);

    &::placeholder {
      color: inherit;
      opacity: 0.25;
    }

    &:focus,
    &:focus-visible {
      border-color: #6348FE;
      outline: none;
    }

    @media (max-width: 399px) {
      width: 32rem;
    }
  }

  .exp-date-container {
    display: flex;
    gap: 1rem;

    .exp-date {
      width: 8rem;
    }
  }

  .cvc {
    width: 19rem;
    @media (max-width: 375px) {
      width: 12rem;
    }
  }

  .btn {
    text-decoration: none;
    display: block;
    width: 100%;
    padding: 1.6rem 0;
    color: #ffffff;
    background-color: var(--clr-purple);
    text-align: center;
    font-size: 1.8rem;
    text-transform: none;
    border-radius: 8px;
  }
}


@media (max-width: 65em) {
  .wrapper {
    flex-direction: column;
  }
}